

*{box-sizing: border-box;}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

.container{

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}


[class*="col-"]{
    float: left;

}


.header{

    background-color:rgba(255, 255, 255, 0.75) ;
    padding: 25px 0px;

}

.row:after {

    content: "";
    display: block;
    clear: both;


}
.col-3{
    padding-top: 7px;
    width: 25%;
}

.col-3-img{
    width: 25%;
    padding-top: 3px;
}

.col-6{

    width: 50%;
}

    /* Menu */

.menu li:last-child{

    border-right: 1px solid #2c71b8;

}
.menu li{
    width: 25%;
    float: left;
   


}

.menu a{

    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;

}



.menu > li {
    display: block;

   
  
  }

.menu > li > a {
    
    color: #2c71b8;
    border-left: 1px solid #2c71b8;
 
}
.menu > li:hover a{

    background-color: #2c71b8;
    color: white;

}


.submenu {
        
     
        background-color: #2c71b8;
        position: absolute;
        width: 293px;
        height: 200px;
        z-index: 5;
        opacity: 2;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;

}

.submenu a {
    margin-top: 2px;
    color: white;
    text-align: left;
    padding-left: 30px;
    font-size: 21px;
    line-height: 30px;
   
  }

 
.submenu li a:hover{

    background-color: white;
    color: #2c71b8;


  }
  .submenu li:last-child a { border-bottom: none; }
  .menu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }

  

.str li {
    display: block;
    text-align: left;
    width: 292px;
    


}


    /* Search */


.search-img{
    position:relative;
    left: 30px;
    width: 345px;

}

.search{



    text-align: left;
    color: #2c71b8;
    border: 1px solid #2c71b8;
    background-color: #cadbed;
    font-size: 19px;
    line-height: 20px;
    padding: 9px;



}

.submit{

    bottom: 1px;
    position: relative;
    cursor: pointer;
    right: 40px;  
    padding: 8px 8px 6px 8px ;
    border: none;
    background-color:#2c71b8 ;

}

    /* Buy */

.submit-icon{

    height: 30px;
    position: relative;
    display: block;
    top: 23px;
    left: 30px;
    }
    
.icon{
    cursor:pointer;
    padding: 8px 12px 8px 12px;
    background-color: white;
    border: none;
}

.readout{
    position: absolute;
    
    bottom: 10px;
    font-size: 12px;
    background-color: #2c71b8;
    color: white;
    right: 38px;
    bottom: 30px;
    padding: 5px 8px 5px 8px;
    border-radius: 40px;


}    




 
